/* 
Project Name: Quester
Author: Nicholas Friedman
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}
.hidden {
     display: none;
}
/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     background-color: #f5f8fa;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     margin:0px;
}
header{
     text-align: center;
    background-color: #006b3a;

}
h1{
     font-size: 5em;
}
header h2{
     display: none;
}
ul{
     border: 1px solid black;
     text-align: center;
     padding: 5px 0px;
     font-weight: bold;
     font-size: 2em;
     overflow: hidden;
     /*position: absolute;*/
     cursor: pointer;
     background-color: #31393a;
     color: #fff;
}
li:first-of-type{
     display: block;
     float: left;
     text-align: center;
     width: 100%;
}
li:hover{
     color: yellow;
}
h3{
     font-size: 4em;
}
button{
     font-size: 4em;
     padding: 1%;
     margin: 1%;
     cursor: pointer;

}
a{
     padding: 2% 3%;
     border: 1px solid black;
     font-size: 3em;
     margin: 0% 1%;
     cursor: pointer;
}
.graph{
     width: 90%;
     display: none;
     height: .3em;
     background-color: red;
}
p{
     display: none;
     font-size: 2em;
}
/******************************************
/* AskQ                   
/*******************************************/
h2{
     font-size: 3em;
     margin: 1%;
}
input{
     font-size: 3em;
     display: block;
     padding: 2%;
     margin: 1%
}
input[type="checkbox"]{
     display: inline-block;
}
input[type="submit"]{
     background: red;
     color: white;
     width: 80%;
     margin: 2% 10%;
}






/******************************************
/* LAYOUT                   
/*******************************************/
header{
     position: fixed;
     top: 0;
     width: 100%;
}
main{
     padding-top: 7em;
     padding-bottom: 14em;
}

div{
     border: 1px solid black;
     padding: 5%;
}
nav{
     background-color: rgb(87, 87, 255);
     text-align: center;
     padding: 2%;
}
.big{
     display: none;
     padding-top: 1.5em;
     margin-top: 6em;
     margin-bottom: 14em;
     padding-bottom: 2em;
}
footer{
     width: 100%;
     position: fixed;
     bottom: 0;
     opacity: 0.98;
}

@media only screen and (min-width: 768px){
     div{
          margin: 0% 10%;
     }
     ul{
          display: block;
          font-size: 2em;
     }
}

@media only screen and (min-width: 1024px){
     footer{
          display: none;
     }
     .big{
          display: block;
          float: right;
          margin-top: 10em;
          margin-right: 1%;
          width: 40%;
          border: 1px solid black;
          border-radius: 25px;
     }
     main{
          float: left;
          width: 59%;
     }
     .menu{
          margin: 0% 1%;
     }
     div{
          margin: 0% 1%;
     }
     header h1{
          float: left;
          margin-left: 1%;
     }
     header h2{
          float: right;
          display: block;
          cursor: pointer;
     }
     header h2:hover{
          color: yellow;
     }
}